@using Blog.Common.Model.Dto
@using Microsoft.AspNetCore.Components

<MudContainer Fixed="true">
    <div>
        <table class="table table-bordered">
            <tbody class="table-body">
                <tr>
                    <td class="text-centered" width="3%">@BlogDto.BlogID</td>
                    <td class="text-centered" width="6%">@BlogDto.BlogTitle</td>
                    <td class="text-centered" width="6%">@BlogDto.BlogDetails</td>
                    <td class="text-centered" width="27%">@BlogDto.BlogOwnerID</td>
                    <td class="text-centered" width="6%">@BlogDto.BlogStatus</td>

                    @if (IsSubscribed(BlogDto.BlogID))
                    {
                        <td class="text-centered" width="12%">
                            @BlogDto.PostsCount
                        </td>
                        <td class="text-centered" width="12%">
                            @BlogDto.CommentsCount
                        </td>
                        <td width="10%">
                            <MudButton Variant="Variant.Filled" Style="@($"color:{Colors.Grey.Lighten5}; background-color:{Colors.BlueGrey.Darken2}")" @onclick=UnsubscribeBlog>Unsubscribe</MudButton>
                        </td>
                    }
                    else
                    {
                        <td width="37%">
                            <AuthorizeView>
                                <Authorized>
                                    <MudButton Variant="Variant.Filled" Style="@($"color:{Colors.Grey.Lighten5}; background-color:{Colors.Teal.Darken2}; font-size:1.1rem; width:90%")" @onclick=SubscribeBlog>Subscribe</MudButton>
                                </Authorized>
                            </AuthorizeView>
                        </td>
                    }
                    <td class="text-centered">
                        <MudButton Variant="Variant.Filled" Color="Color.Default" href="@($"/posts/{BlogDto.BlogID}")">Go to posts</MudButton>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</MudContainer>

@code {
    [Parameter]
    public BlogDto BlogDto { get; set; }

    [Parameter]
    public IEnumerable<BlogDto> SubscribedBlogs { get; set; }

    [Parameter]
    public EventCallback<BlogDto> OnSubscribeCalled { get; set; }

    [Parameter]
    public EventCallback<BlogDto> OnUnsubscribeCalled { get; set; }

    private async Task SubscribeBlog()
    {
        await OnSubscribeCalled.InvokeAsync(BlogDto);
    }

    private async Task UnsubscribeBlog()
    {
        await OnUnsubscribeCalled.InvokeAsync(BlogDto);
    }

    private bool IsSubscribed(int blogId)
    {
        return SubscribedBlogs?.Any(b => b.BlogID == blogId) ?? false;
    }
}